@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?36909878');
  src: url('../font/fontello.eot?36909878#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?36909878') format('woff'),
       url('../font/fontello.ttf?36909878') format('truetype'),
       url('../font/fontello.svg?36909878#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36909878#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-picture:before { content: '\e804'; } /* '' */
.icon-terminal:before { content: '\e921'; } /* '' */
.icon-cancel:before { content: '\e8bf'; } /* '' */
.icon-help-circled:before { content: '\e8a5'; } /* '' */
.icon-info:before { content: '\e8a4'; } /* '' */
.icon-tag:before { content: '\e83b'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e808'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-reply:before { content: '\e825'; } /* '' */
.icon-reply-all:before { content: '\e828'; } /* '' */
.icon-forward:before { content: '\e805'; } /* '' */
.icon-quote-left:before { content: '\e800'; } /* '' */
.icon-quote-right:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e8a8'; } /* '' */
.icon-direction:before { content: '\e8a7'; } /* '' */
.icon-folder:before { content: '\e82f'; } /* '' */
.icon-folder-open:before { content: '\e82e'; } /* '' */
.icon-rss:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-gears:before { content: '\e80f'; } /* '' */
.icon-wrench:before { content: '\e810'; } /* '' */
.icon-headphones:before { content: '\e811'; } /* '' */
.icon-tri-down:before { content: '\e812'; } /* '' */
.icon-tri-up:before { content: '\e813'; } /* '' */
.icon-tri-left:before { content: '\e814'; } /* '' */
.icon-tri-right:before { content: '\e815'; } /* '' */
.icon-angle-down:before { content: '\e8a9'; } /* '' */
.icon-angle-left:before { content: '\e8aa'; } /* '' */
.icon-angle-right:before { content: '\e8ab'; } /* '' */
.icon-angle-up:before { content: '\e8ac'; } /* '' */
.icon-circle-left:before { content: '\e816'; } /* '' */
.icon-circle-right:before { content: '\e817'; } /* '' */
.icon-circle-up:before { content: '\e819'; } /* '' */
.icon-circle-down:before { content: '\e818'; } /* '' */
.icon-hand-right:before { content: '\e8ad'; } /* '' */
.icon-hand-left:before { content: '\e8ae'; } /* '' */
.icon-hand-up:before { content: '\e8af'; } /* '' */
.icon-hand-down:before { content: '\e8b0'; } /* '' */
.icon-leaf:before { content: '\e8b1'; } /* '' */
.icon-ellipsis-vert:before { content: '\e821'; } /* '' */
.icon-book:before { content: '\e81a'; } /* '' */
.icon-asterisk:before { content: '\e81b'; } /* '' */
.icon-bug:before { content: '\e822'; } /* '' */
.icon-beaker:before { content: '\e81c'; } /* '' */
.icon-hammer:before { content: '\e823'; } /* '' */
.icon-coffee:before { content: '\e824'; } /* '' */
.icon-terminal-1:before { content: '\e88f'; } /* '' */
.icon-puzzle:before { content: '\e8b2'; } /* '' */
.icon-dribbble:before { content: '\e837'; } /* '' */
.icon-dropbox:before { content: '\e8b3'; } /* '' */
.icon-facebook:before { content: '\e835'; } /* '' */
.icon-foursquare:before { content: '\e8b4'; } /* '' */
.icon-github:before { content: '\e833'; } /* '' */
.icon-gplus:before { content: '\e831'; } /* '' */
.icon-ok:before { content: '\e8be'; } /* '' */
.icon-stackexchange:before { content: '\e82c'; } /* '' */
.icon-stackoverflow:before { content: '\e82b'; } /* '' */
.icon-twitter:before { content: '\e830'; } /* '' */
.icon-blank:before { content: '\e838'; } /* '' */
.icon-gallery:before { content: '\e83a'; } /* '' */
.icon-home:before { content: '\e89e'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-bookmarks:before { content: '\e83f'; } /* '' */
.icon-thumbs-up-1:before { content: '\e840'; } /* '' */
.icon-thumbs-down-1:before { content: '\e841'; } /* '' */
.icon-export:before { content: '\e8b7'; } /* '' */
.icon-feather:before { content: '\e842'; } /* '' */
.icon-chat:before { content: '\e844'; } /* '' */
.icon-address:before { content: '\e845'; } /* '' */
.icon-share:before { content: '\e85e'; } /* '' */
.icon-moon:before { content: '\e8cd'; } /* '' */
.icon-paper-plane:before { content: '\e8cc'; } /* '' */
.icon-dot:before { content: '\e8c9'; } /* '' */
.icon-dot-2:before { content: '\e8ca'; } /* '' */
.icon-brush:before { content: '\e806'; } /* '' */
.icon-megaphone-1:before { content: '\e8d1'; } /* '' */
.icon-flow-cascade:before { content: '\e84a'; } /* '' */
.icon-flow-branch:before { content: '\e849'; } /* '' */
.icon-flow-tree:before { content: '\e8cf'; } /* '' */
.icon-flow-line:before { content: '\e8d0'; } /* '' */
.icon-flow-parallel-1:before { content: '\e8d6'; } /* '' */
.icon-traffic-cone:before { content: '\e8d5'; } /* '' */
.icon-cc:before { content: '\e8d3'; } /* '' */
.icon-copyleft:before { content: '\e8d4'; } /* '' */
.icon-pinterest:before { content: '\e856'; } /* '' */
.icon-tumblr:before { content: '\e827'; } /* '' */
.icon-lastfm:before { content: '\e852'; } /* '' */
.icon-evernote:before { content: '\e850'; } /* '' */
.icon-skype:before { content: '\e84f'; } /* '' */
.icon-behance:before { content: '\e84e'; } /* '' */
.icon-smashing:before { content: '\e84d'; } /* '' */
.icon-db-shape:before { content: '\e807'; } /* '' */
.icon-android:before { content: '\e871'; } /* '' */
.icon-lanyrd:before { content: '\e86d'; } /* '' */
.icon-stumbleupon:before { content: '\e83c'; } /* '' */
.icon-call:before { content: '\e832'; } /* '' */
.icon-forrst:before { content: '\e874'; } /* '' */
.icon-reddit:before { content: '\e826'; } /* '' */
.icon-meetup:before { content: '\e87f'; } /* '' */
.icon-youtube:before { content: '\e85c'; } /* '' */
.icon-vimeo:before { content: '\e82a'; } /* '' */
.icon-email:before { content: '\e87a'; } /* '' */
.icon-podcast:before { content: '\e869'; } /* '' */
.icon-steam:before { content: '\e87e'; } /* '' */
.icon-pinboard:before { content: '\e802'; } /* '' */
.icon-openid:before { content: '\e86c'; } /* '' */
.icon-wordpress:before { content: '\e886'; } /* '' */
.icon-eventbrite:before { content: '\e902'; } /* '' */
.icon-drupal:before { content: '\e903'; } /* '' */
.icon-video:before { content: '\e88b'; } /* '' */
.icon-comment:before { content: '\e88e'; } /* '' */
.icon-linkedin:before { content: '\e829'; } /* '' */